@import "tailwindcss";

@plugin "daisyui" {
    themes: light;
}

@source "../../index.php";
@source "../../functions.php";
@source "../../templates/**/*.php";
@source "../../app/**/*.php";

@plugin "daisyui/theme" {
    name: "light";
    default: false;
    prefersdark: false;
    /*color-scheme: "light";*/
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(58% 0.253 17.585);
    --color-primary-content: oklch(98% 0.003 247.858);
    --color-secondary: oklch(69% 0.17 162.48);
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(86% 0.022 252.894);
    --color-accent-content: oklch(26% 0 0);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(90% 0.058 230.902);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(90% 0.093 164.15);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(92% 0.12 95.746);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(89% 0.058 10.001);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 2rem;
    --radius-field: 0.25rem;
    --radius-box: 1rem;
    --size-selector: 0.3125rem;
    --size-field: 0.25rem;
    --border: 0.5px;
    --depth: 1;
    --noise: 1;
}

:root {
    color-scheme: light dark;
    --font-IRANYekanXVF: IRANYekanXVF, sans-serif, tahoma;
    --font-IRANYekanXFaNum: IRANYekanXFaNum, sans-serif, tahoma;
    --font-YekanBakhVF: YekanBakhVF, sans-serif, tahoma;
}

@layer base {
    body {
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        display: block;
        position: relative;
    }

    body {
        font-family: var(--font-IRANYekanXVF);
        -moz-font-feature-settings: "ss03";
        -webkit-font-feature-settings: "ss03";
        font-feature-settings: "ss03";
        font-variation-settings: "wght" 300, "dots" 1;
    }

    @supports (font-variation-settings: normal) {
        body {
            font-family: var(--font-IRANYekanXVF);
            -moz-font-feature-settings: "ss03";
            -webkit-font-feature-settings: "ss03";
            font-feature-settings: "ss03";
            font-variation-settings: "wght" 300, "dots" 1;
        }
    }

    ul, li {
        list-style: none
    }

    a {
        @apply cursor-pointer;
    }

    button {
        @apply cursor-pointer;
    }
}

@layer components {
    .search-section:not(.is-active):hover::after {
        content: "";
        background: #ebebeb;
        width: calc(100% + 60px);
        position: absolute;
        top: 0;
        left: -30px;
        z-index: 5;
        height: 100%;
        border-radius: 50px;
    }
}